body {
    margin: 0px;
    background-image: url('../images/back.svg');
    background-attachment: fixed;
    /*background-size: 100%;*/
    background-repeat:repeat-x;
    text-align: center;
    font-family: sans-serif;
}

#search_bar {
    display: inline-block;
    position: relative;
    width: 80%;
    min-width: 1000px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#search_title {
    font-size: 200%;
}

#search_solid {
    width: 15px;
    /*margin-top: 15px;*/
    color: #a9a9a9;
    /*fill: #a9a9a9;*/
    /*filter: drop-shadow(#a9a9a9 0 0);*/
}

#search_form {
    display: inline-block;
    margin: 15px;
    width: 50%;
    background-color: white;
    height: 55px;
    border-radius: 10px;
    /*border: 1px solid #ccc;*/
    box-shadow: 5px 5px 3px #ccc;
    padding: 5px;
}

#search_left {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 15px;
    /*background-color: white;*/
}

#search_left_inner {
    margin-top: 15px;
}

#search_right {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 30px;
    border-left: 2px solid 	#a9a9a9;
    /*margin: 5px;*/
}

#search_times {
    width: 15px;
    margin-top: 15px;
    margin-left: 70%;
}

input[type=text], select {
  width: 80%;
  padding: 5px 5px;
  /*margin: 15px;*/
  display: inline-block;
    border: 0px;
  /*border-bottom: 1px solid #ccc;*/
  /*  border-top: 1px solid #ccc;*/
  /*  border-left: 0px;*/
  /*  border-right: 0px;*/
  /*border-radius: 4px;*/
  box-sizing: border-box;
    outline: none;
    font-size: 20px;
}

form {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#empty_warning {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 110px;
    width: 300px;
    height: 60px;
    /*background-color: darkgrey;*/
    /*opacity: 0;*/
    visibility: hidden;
}

.triangle {
    display: inline-block;
    position: absolute;
    left: 20px;
    /*top: 0px;*/
    width: 0px;
    height: 0px;
    border:5px solid transparent;
    /*border-bottom: 10px solid black;*/
}

#tri1 {
    top: 0px;
    border-bottom: 10px solid black;
}

#tri2 {
    top: 2px;
    border-bottom: 10px solid white;
}

#empty_info {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 220px;
    height: 40px;
    background-color: white;
    border:1px solid black;
    box-shadow: 5px 5px 3px #ccc;
    border-radius: 5px;
}

#exclamation_mark_box {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFAB04;
}

#exclamation_mark {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-weight: bolder;
    font-size: 23px;
}

#empty_warning_sentence {
    display: inline-block;
    position: absolute;
    top: 6.5px;
    left: 35px;
    width: 170px;
    color: black;
}

#graph_area {
    display: inline-block;
    position: relative;
    width: 80%;
    min-width: 1000px;
    /*height: 200px;*/
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    /*background-color: darkgrey;*/
}

#graph_titles {
    display: block;
    height: 50px;
    background-color: #F7FBF9;
    text-align: left;
}

.title {
    display: inline-block;
    /*width: 200px;*/
    height: 30px;
    /*background-color: #FFAB04;*/
    text-align: center;
    padding-top: 20px;
    /*border: 2px solid black;*/
}

.title:hover {
    background-color: #E2E1E2;
}

#title_graph_company {
    width: 120px;
}

#title_graph_stock_summary {
    width: 170px;
}

#title_graph_charts {
    width: 100px;
}

#title_graph_latest_news {
    width: 170px;
}

#graph_sub_reference {
    display: block;
    position: relative;
    width: 100%;
    /*height: 80px;*/
    /*top: 100px;*/
    /*left: 100px;*/
    /*background-color: #FFAB04;*/
}

.graph_sub {
    display: block;
    position: absolute;
    /*background-color: darkgrey;*/
    width: 100%;
    /*height: 50px;*/
    text-align: center;
    visibility: hidden;
}

.table_line {
    display: block;
}

.table_table {
    /*display: inline-block;*/
    margin: auto;
    position: relative;
    width: 70%;
}

.table_table td {
    width: 50%;
    padding: 5px;
    border-bottom: 1px solid #E2E1E2;
}

.first_line {
    border-top: 1px solid #E2E1E2;
}

.td1 {
    text-align: right;
    font-weight: bold;
}

.td2 {
    text-align: left;
    font-weight: lighter;
}