<!DOCTYPE html>
<html>

<head>
    <title>HW6</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function changeSVGColor(elem, color) {
            elem.getSVGDocument().querySelector("svg").style.color = color;
        }

        function addChangeColorEvent(id) {
            var elem = document.getElementById(id);
            elem.addEventListener('mouseenter', function (){
                console.log('mouseenter');
                changeSVGColor(elem, 'black');
            });
            elem.addEventListener('mouseout', function (){
                console.log('mouseout');
                changeSVGColor(elem, '#9a9a9a');
            });
        }

        function addSubmitSearchEvent(id) {
            var elem = document.getElementById(id).getSVGDocument().querySelector("svg");
            elem.addEventListener('click', function () {
                console.log('click');
                document.getElementById("form_form").submit();
            });
        }

        window.onload = function(){
            addChangeColorEvent('search_solid');
            addSubmitSearchEvent('search_solid');
            addChangeColorEvent('search_times');
        }
    </script>
</head>

<body>
    <div id="search_bar">
        <div id="search_title">
            Stock Search
        </div>
        <div id="search_form">
            <form id="form_form" name="stock_form" method="get" onsubmit="return false">
                <div id="search_left">
                    <div id="search_left_inner">
                        <embed id="search_solid" src="{{ url_for('static', filename='images/search-solid.svg') }}" type="image/svg+xml">

                    </div>
                </div>
                <input type="text" id="stock" name="stock">
                <div id="search_right">
                    <embed id="search_times" src="{{ url_for('static', filename='images/times-solid.svg') }}" type="image/svg+xml">
                </div>
            </form>
        </div>
    </div>
</body>

</html>